.tokyo_posts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 24px;
}

.tokyo_posts article {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tokyo_arrive_post {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tokyo_arrive img {
  width: 100%;
}

.tokyo_accommodations div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tokyo_img {
  background-image: url(../img/blog/blog-tokyo-post-accommodations-mobile.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.section_tokyo article h3 {
  font-size: 28px;
  font-weight: var(--text-title-weight);
  line-height: 100%;
  grid-area: titulo;
}

.section_tokyo article p {
  font-size: 20px;
  font-weight: var(--text-primary-weight);
  line-height: 32px;
  grid-area: texto;
}

.blog .destinations_card_3 {
  background-image: url(../img/blog/blog-hiroshima-post-mobile.png);
}

.blog .destinations_card_4 {
  background-image: url(../img/blog/blog-kyoto-post-mobile.png);
}

.blog .destinations_card_2,
.blog .destinations_card_3,
.blog .destinations_card_4 {
  height: 300px;
}

@media screen and (min-width: 768px) {
  .tokyo_img {
    background-image: url(../img/blog/blog-tokyo-post-accommodations-tablet.png);
  }

  .tokyo_arrive_post img {
    grid-area: imagem;
  }

  .tokyo_arrive_post {
    display: grid;
    grid-template-areas:
      "titulo imagem"
      "texto imagem";
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .blog .destinations_card_2 {
    background-image: url(../img/blog/blog-osaka-post-tablet.png);
  }

  .blog .destinations_card_3 {
    background-image: url(../img/blog/blog-hiroshima-post-tablet.png);
  }

  .blog .destinations_card_4 {
    background-image: url(../img/blog/blog-kyoto-post-tablet.png);
  }
}

.blog .destinations_grid {
  margin: 0 0 104px 0;
}

@media screen and (min-width: 1440px) {
  .tokyo_arrive_post {
    display: grid;
    /* Define que a 1ª linha é automática e a 2ª expande */
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "titulo imagem"
      "texto imagem";
    gap: 24px;
  }

  .blog .destinations_card div {
    width: 100%;
  }

  .blog .destinations_card_2 {
    background-image: url(../img/blog/blog-osaka-post-desktop.png);
  }

  .blog .destinations_card_3 {
    background-image: url(../img/blog/blog-hiroshima-post-desktop.png);
  }

  .blog .destinations_card_4 {
    background-image: url(../img/blog/blog-kyoto-post-desktop.png);
  }
}
