.destinations_grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.destinations_card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.destinations_card div {
  width: 312px;
  height: 360px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.destinations_card_1 {
  background-image: url(../img/tokyo-mobile.jpg);
}

.destinations_card_2 {
  background-image: url(../img/osaka-mobile.jpg);
}

.destinations_card h3 {
  font-weight: var(--text-title-weight);
  font-size: 28px;
}

.destinations_card p {
  font-weight: var(--text-primary-weight);
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .destinations_card div {
    width: 648px;
    height: 452px;
  }

  .destinations_card footer {
    align-self: self-start;
  }

  .destinations_card p {
    text-align: justify;
  }
}

@media screen and (min-width: 1440px) {
  .destinations_grid {
    flex-direction: row;
  }

  .destinations_card div {
    width: 588px;
  }
}
