.destinations_card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.destinations_card img {
  width: 312px;
  height: 360px;
}

.destinations_card h3{
  font-weight: var(--text-title-weight);
  font-size: 28px;
}

.destinations_card p{
  font-weight: var(--text-primary-weight);
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.destinations_grid{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
