* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*cores de background*/
  --background-primary-color: #ffffff;
  --background-secondary-color: #000000;
  --background-tertiary-color: #e5e5e5;
  --background-hover-color: #8c8c8c;

  /*cores de textos*/
  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  /*botões e outros elementos*/
  --elements-primary-color: #b81515;
  --elements-hover-color: #8f0101;

  /*peso das fontes*/
  --text-primary-weight: 400;
  --text-menu-weight: 500;
  --text-title-weight: 700;
}

body {
  color: var(--text-primary-color);
  font-family: "Montserrat", sans-serif;
}

.button-default {
  display: block;
  background-color: var(--elements-primary-color);
  font-weight: var(--text-title-weight);
  font-size: 20px;
  line-height: 32px;
  color: var(--text-secondary-color);
  text-decoration: none;
  border-radius: 16px;
  padding: 16px 74px;
  text-align: center;
}

.button-default:hover {
  background-color: var(--elements-hover-color);
}

.button-default:focus-visible {
  background-color: var(--elements-hover-color);
}

.section-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 16px;
  margin: 104px auto 64px;
  font-weight: var(--text-title-weight);
  font-size: 32px;
}

.section-title hr {
  display: inline-block;
  width: 180px;
  height: 4px;
  background-color: var(--elements-primary-color);
  border: none;
}

section {
  width: 312px;
  margin: 0 auto;
}

.section_hero {
  width: 100%;
}

@media screen and (min-width: 768px) {
  section {
    width: 648px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1200px;
  }
}

/*redução de distração visual*/
.section_header_main,
.section_hero,
.section_offers{
  display: none;
}