@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  /* cores de botões e destaque */
  --highlight-color: #8f0101;
  --button-color: #b81515;

  /* cores de fundo */
  --background-primary-color: #ffffff;
  --background-secondary-color: #000000;
  --background-tertiary-color: #E5E5E5;
  --background-highlight-color: #C9C9C9;

  /* cores de textos */
  --text-body-color: #222222;
  --text-menu-color: #ffffff;

  /* pesos das fontes */
  --menu-text-weight: 500;
  --highlight-text-weight: 700;
  --text-weight: 400;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

section {
  width: 312px;
  margin: 0 auto;
}

.hero{
  width: 100%;
}

.section-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 88px 0 32px;
  gap: 18px;
}

.section-title h2 {
  font-weight: var(--highlight-text-weight);
  font-size: 32px;
}

.section-title hr {
  background-color: var(--button-color);
  width: 180px;
  height: 4px;
  border: none;
}

.button {
  display: inline-block;
  color: var(--text-menu-color);
  text-decoration: none;
  background-color: var(--button-color);
  border-radius: 16px;
  width: 280px;
  line-height: 64px;
  font-weight: var(--highlight-text-weight);
  font-size: 20;
  text-align: center;
}

@media screen and (min-width: 768px) {
  section {
    width: 648px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1200px;
  }
}
