header {
  background-color: var(--background-secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 48px;
  position: relative;
}

/* link com logo mobile no header */
.header-logo-mobile {
  display: flex;
}

/* label que contém a imagem do menu */
header label {
  display: flex;
}

/* lista de navegação <nav> */
.header-menu-links {
  background-color: var(--background-secondary-color);
  width: 100%;
}

/* lista de links no menu de navegação */
.header-menu-links ul {
  list-style: none;
}

/* elementos da lista de links */
.header-menu-links li {
  margin: 0 0 16px 0;
}

/* links do menu de navegação */
.header-menu-links a {
  text-decoration: none;
  color: var(--text-menu-color);
  font-size: 24px;
  font-weight: var(--menu-text-weight);
}

/* quando passar o ponteiro do mouse sobre os links */
.header-menu-links a:hover {
  color: var(--highlight-color);
  font-weight: var(--highlight-text-weight);
}

/* controla ativação do menu mobile */
header input:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  padding-left: 25px;
}

@media screen and (min-width: 768px) {
  header {
    padding: 37px 60px;
  }

  header label {
    display: none;
  }

  .header-menu-links {
    display: block;
    width: 467px;
  }

  .header-menu-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu-links li {
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  header {
    padding: 37px 120px;
  }

  .header-logo-mobile {
    display: none;
  }

  .header-logo-desktop {
    display: block;
  }
}
