.header_main {
  background-color: var(--background-secondary-color);
  padding: 37px clamp(48px, 8.33vw, 160px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header_menu label {
  display: flex;
}

.header_menu input:checked ~ nav{
  width: 100%;
  background-color: var(--background-secondary-color);
  display: block;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}

.header_nav ul{
  list-style: none;
}

.header_nav li{
  padding: 16px 20px;
}

.header_nav a{
  text-decoration: none;
  color: var(--background-primary-color);
  font-size: 24px;
  font-weight: var(--text-menu-weight);
}

@media screen and (min-width: 768px) {
  .header_menu label{
    display: none;
  }

  .header_menu nav{
    display: block;
  }

  .header_menu ul{
    display: flex;
    gap: 40px;
  }

  .header_menu li{
    padding: 0;
  }
}