header {
  background-color: var(--background-secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 48px;
  position: relative;
}

/* link com logo mobile no header */
.header-logo-mobile {
  display: flex;
}

/* label que contém a imagem do menu */
header label {
  display: flex;
}

.header-menu-links{
  background-color: var(--background-secondary-color);
  width: 100%;
}

/* lista de links do menu */
.header-menu-links ul {
  list-style: none;
}

.header-menu-links li{
  margin: 0 0 16px 0;
}

/* links inividuais do menu */
.header-menu-links a {
  text-decoration: none;
  color: var(--text-menu-color);
  font-size: 24px;
  font-weight: var(--menu-text-weight);
}

.header-menu-links a:hover{
  color: var(--highlight-color);
  font-weight: var(--highlight-text-weight);
}

/* controla ativação do menu mobile */
header input:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  padding-left: 25px;
}