.section_hero_footer div {
  background-image: url(../img/bg-bottom-hero-mobile.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  margin-top: 88px;
}

@media screen and (min-width: 768px) {
  .section_hero_footer div {
    background-image: url(../img/bg-bottom-hero-tablet.png);
  }
}

@media screen and (min-width: 1440px) {
  .section_hero_footer div {
    background-image: url(../img/bg-bottom-hero-desktop.png);
    height: 600px;
  }
}
