.hero_main_img {
  background-image: url(../img/hero-mobile.jpg);
  height: clamp(400px, 65vw, 620px);
  background-position: center;
  background-size: cover;
  margin-bottom: 88px;
}

.section_hero_main h1 {
  padding: 0 clamp(24px, 8.3vw, 160px);
  font-weight: var(--text-primary-weight);
  text-align: center;
  font-size: clamp(20px, 5.5vw, 32px);
  line-height: max(32px, 1.5em)
}

@media screen and (min-width: 768px) {
  .hero_main_img {
    background-image: url(../img/hero-tablet.jpg);
  }
}

@media screen and (min-width: 1440px) {
  .hero_main_img {
    background-image: url(../img/hero-desktop.jpg);
  }
}
