.offers_card div {
  background-image: url(../img/bg-card-japao.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-secondary-color);
  gap: 24px;
  position: relative;
  overflow: hidden;
}

.offers_card div::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
}

.offers_card div > * {
  z-index: 1;
}

.offers_card header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
